#skills {
    margin: 70px auto;
    position: relative;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        @include responsive(laptop) {
            grid-template-columns: 1fr;
        }
    }

    .skill {
        padding: 50px;
        border: 20px solid $dark-color;

        img {
            width: 100%;
            height: 100%;
        }
    }

//     p {
//         font-size: 40px;
//     }
}